// Colors
$dark-grey: #333;
$grey: #666;
$blue: #0C4EFC;
$lighter-blue: #E5EDFE;
$light-blue: #447DF1;
$dark-blue: #0343FB;
// Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xxl-large: 5.2rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
